doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Gấu Bông Hưng Nhung 
        link(rel="stylesheet", href="/css/main.css")
        link(rel="stylesheet", href="/css/product.css")
        link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
    body 
        header.main-header 
            nav.main-header__nav 
                ul.main-header__item-list 
                    li.main-header__item(href="")
                        a.active(href="/") Shop
                    li.main-header__item
                        a(href="/admin/add-product") Add product
        h1 This is using pug


        main 
        .grid 
            article.card.product-item 
                header.card__header
                    h1.product__title Great book 
                .card__image 
                    img(src="", alt="", srcset="")
                .card__content
                