<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gấu Bông Hưng Nhung</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <!-- header for page -->
    <header class="main-header">
        <nav class="header-nav">
            <ul class="header-nav-list">
                <li class="header-nav-item"><a href="/">shop</a></li>
                <li class="header-nav-item"><a href="/admin/add-product">add product</a></li>
            </ul>
        </nav>

    </header>

    <!-- the main div -->
    <main>

    </main>
</body>

</html>